<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <groups>
  <run>
  <include name=".*sm"/>
  </run>
  </groups>
  
    <classes>
      <class name="basics.Main1"/>
      <class name="basics.Main2">
      
      <methods>
      <exclude name="a"/>
   
       <exclude name="d"/>
      </methods>
      </class>
       <class name="basics.Main2">
       <methods>
      <exclude name="f"/>
      
       <include name="g"/>
      </methods>
      </class>
      
      <class name="basics.Main3">
      
      </class>
      
       
    </classes>
  </test>
</suite>
